[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = gh:tpope/vim-pathogen
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = gh:junegunn/fzf.vim
[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = gh:junegunn/fzf
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = gh:tpope/vim-fugitive
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = gh:tpope/vim-commentary
