[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim
[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = git@github.com:junegunn/fzf
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = git@github.com:junegunn/goyo.vim
[submodule ".vim/bundle/limelight.vim"]
	path = .vim/bundle/limelight.vim
	url = git@github.com:junegunn/limelight.vim
[submodule ".vim/bundle/vim-lucius"]
	path = .vim/bundle/vim-lucius
	url = git@github.com:jonathanfilip/vim-lucius
[submodule ".vim/bundle/minimalist"]
	path = .vim/bundle/minimalist
	url = git@github.com:dikiaap/minimalist
[submodule ".vim/bundle/termschool-vim-theme"]
	path = .vim/bundle/termschool-vim-theme
	url = git@github.com:marcopaganini/termschool-vim-theme
[submodule ".vim/bundle/vim-gotham"]
	path = .vim/bundle/vim-gotham
	url = git@github.com:whatyouhide/vim-gotham
[submodule ".vim/bundle/focuspoint-vim"]
	path = .vim/bundle/focuspoint-vim
	url = git@github.com:chase/focuspoint-vim
[submodule ".vim/bundle/vim-deep-space"]
	path = .vim/bundle/vim-deep-space
	url = git@github.com:tyrannicaltoucan/vim-deep-space
[submodule ".vim/bundle/angr.vim"]
	path = .vim/bundle/angr.vim
	url = git@github.com:zacanger/angr.vim
[submodule ".vim/bundle/Alduin"]
	path = .vim/bundle/Alduin
	url = git@github.com:AlessandroYorba/Alduin
[submodule ".vim/bundle/sideways.vim"]
	path = .vim/bundle/sideways.vim
	url = git@github.com:AndrewRadev/sideways.vim
[submodule ".vim/bundle/puppet-syntax-vim"]
	path = .vim/bundle/puppet-syntax-vim
	url = git@github.com:puppetlabs/puppet-syntax-vim
[submodule ".vim/bundle/falcon"]
	path = .vim/bundle/falcon
	url = git@github.com:fenetikm/falcon
