[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = gh:tpope/vim-pathogen
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = gh:junegunn/fzf.vim
[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = gh:junegunn/fzf
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = gh:tpope/vim-fugitive
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = gh:tpope/vim-commentary
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = gh:junegunn/goyo.vim
[submodule ".vim/bundle/limelight.vim"]
	path = .vim/bundle/limelight.vim
	url = gh:junegunn/limelight.vim
[submodule ".vim/bundle/vim-lucius"]
	path = .vim/bundle/vim-lucius
	url = gh:jonathanfilip/vim-lucius
[submodule ".vim/bundle/minimalist"]
	path = .vim/bundle/minimalist
	url = gh:dikiaap/minimalist
[submodule ".vim/bundle/termschool-vim-theme"]
	path = .vim/bundle/termschool-vim-theme
	url = gh:marcopaganini/termschool-vim-theme
[submodule ".vim/bundle/vim-gotham"]
	path = .vim/bundle/vim-gotham
	url = gh:whatyouhide/vim-gotham
[submodule ".vim/bundle/focuspoint-vim"]
	path = .vim/bundle/focuspoint-vim
	url = gh:chase/focuspoint-vim
[submodule ".vim/bundle/vim-deep-space"]
	path = .vim/bundle/vim-deep-space
	url = gh:tyrannicaltoucan/vim-deep-space
[submodule ".vim/bundle/angr.vim"]
	path = .vim/bundle/angr.vim
	url = gh:zacanger/angr.vim
[submodule ".vim/bundle/Alduin"]
	path = .vim/bundle/Alduin
	url = gh:AlessandroYorba/Alduin
