[alias]
    # stage
    a = add
    aa = add --all
    au = add -u
    unstage = reset HEAD --

    # commit
    ci = commit -v
    cia = commit -v --amend
    cm = commit -m
    credit = "!credit() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; credit"

    # diffs
    d = diff
    dc = diff --cached

    # stash
    sl = stash list
    sp = stash pop
    ss = stash save

    # branches
    b = branch
    co = checkout
    m = merge
    rb = rebase

    # remotes
    ra = remote add
    rsu = remote set-url

    sync = "!sync() { upstream=${1:-\"upstream\"}; master=${2:-\"master\"}; git pull $upstream $master && git push origin HEAD; }; sync"
    author-stats = "!stats() { git log --author=$1 --pretty=tformat: --numstat | gawk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s removed lines: %s total lines: %s\\n\", add, subs, loc }' -; }; stats"

    # status and logs
    lol = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold yellow)%h%C(reset) - %C(bold green)(%ar)%C(reset) %s - %C(bold blue)%an%C(reset)%C(bold red)%d%C(reset)' --all
    s = status -s
    sha = rev-parse --short
    wtf = blame

    ignored = ls-files -o -i --exclude-standard

    fgrep = grep -l
    # From: https://github.com/garybernhardt/dotfiles/blob/master/bin/git-churn
    churn = "!churn() { git log --all -M -C --name-only --format='format:' \"$@\" | sort | grep -v '^$' | uniq -c | sort -n; }; churn"
[branch]
    autosetupmerge=true
[color "branch"]
    current = green bold
[core]
    editor = vim
[github]
    user = ajm188
[push]
    default = simple
[url "git@github.com:"]
    insteadOf = gh:
[user]
    name = Andrew Mason
    email = andrew@fixedpoint.xyz
